@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

header {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    color: rgb(253, 251, 142);
    background-color: rgb(53, 44, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 18px;
    position: sticky;
    top: 0;
}

header img {
  margin-top: -10px;
  width: 70px;
  align-self: top;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: rgb(253, 251, 142);
}

footer {
  font-family: 'Work Sans', sans-serif;
  display: flex;
  gap: 10px;
  background-color: rgb(53, 44, 36);
  height: 80px;
  color: rgb(255, 253, 237);
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: rgb(255, 253, 237);
}

a:hover {
  color: rgb(168, 168, 125);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}